#upload
  display: none

#files
  width 300px
  margin-top 16px
  background: #F9FBFF
  border-radius: 4px
  padding 12px
  border-left: 10px #ECF3FF solid

  .file-slice
    font-size 12px
    margin 8px 0

  .file-name
    margin-right 8px
    font-size 14px
    font-weight bold
    color #495C7A
    max-width: 200px
    
  .file-icon
    display: inline-block
    vertical-align: super
    margin-right 12px

  .file-content
    display inline-block
    color: #BCC7D8
    font-size 12px
    margin-top 2px

  .file-btn
    display: inline-block
    float: right
    margin-top 12px

    .k-icon
      margin-right 8px

      &:hover
        cursor pointer
